################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/constellation/bin
/constellation/obj
/constellation/constellation.csproj.user
